body {
  background: url("../src/img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lora", serif;
  height: 100vh;
  padding-bottom: 2rem;
}

.img-cont > img {
  display: block;
  width: 500px;
  margin: 2rem auto;
}

.card-cont {
  border: 10px solid rgb(2, 142, 70);
  /* border: 5px solid rgb(14, 182, 95); */
  width: 800px;
  /* height: 400px; */
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
  margin-top: 4rem;
  color: rgb(14, 182, 95);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;

  font-family: inherit;
}

.card-cont > .quote-text {
  font-size: 3rem;
}

.card-cont > .author {
  font-size: 2rem;
  align-self: flex-end;
  margin-right: 1rem;
}

.quoteBtn {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  border: none;
  background-color: rgb(6, 84, 44);
  color: white;
  font-weight: bold;
  margin-right: 1rem;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
}
